* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #f1f1f1;
}

.container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 140px;
}
.navigation--menu {
	display: flex;
	width: 100%;
	justify-content: space-around;
	background-color: #ffffff;
	align-items: center;
	padding: 30px;
	position: fixed;
	overflow: hidden;
	top: 0;	
}

.hamburger--menu img {
	height: 30px;
	width: 40;
}
.search--menu {
	flex-basis: 50%;
}



input {
	width: 100%;
	padding: 10px;
}

form {
	display: flex;
}

.video--playing {
	height: 60vh;
	flex: 2;
	background-color: red;
	display: flex;
	justify-content: center;
	align-items: center;	
}

.side--bar {
	flex: 1;
	height: 150vh;
	background-color: aqua;
}

.sign--button {
	border:1px solid rgb(22, 122, 198);
	background-color: rgb(22, 122, 198);
	padding: 10px;
	border-radius: 4px;
	color: white;
}