* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #f1f1f1;
}

.container {
	display: flex;
	flex-wrap: wrap;
}
.navigation--menu {
	display: flex;
	flex-basis: 100%;
	justify-content: space-around;
	background-color: #ffffff;
	align-items: center;
	padding: 30px;
}

.hamburger--menu img {
	height: 30px;
	width: 40;
}
.search--menu {
	flex-basis: 50%;
}

input {
	width: 100%;
	padding: 10px;
}

form {
	display: flex;
}

.video--playing {
	height: 60vh;
	flex: 2;
	background-color: red;
	display: flex;
	justify-content: center;
	align-items: center;
}

iframe {
	margin-top: 50px;
}

.side--bar {
	flex: 1;
	height: 150vh;
	background-color: aqua;
}
