* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #f1f1f1;
}

.container {
	display: flex;
}
.navigation--menu {
	display: flex;
	width: 100%;
	justify-content: space-around;
	background-color: #ffffff;
	align-items: center;
	padding: 30px;
	margin-top: 40px;
}

.search--menu {
	flex-basis: 50%;
}

input {
	width: 100%;
	padding: 10px;
}

form {
	display: flex;
}

.video--playing {
	height: 60px;
	flex: 2;
	background-color: red;
}

.side--bar {
	flex: 1;
	height: 150px;
	background-color: aqua;
}
